<h3>Queries</h3>
<div class="typo3-adminPanel-table-overflow">
    <table class="typo3-adminPanel-table">
        <tr>
            <th>
                <f:translate key="LLL:EXT:adminpanel_extended/Resources/Language/locallang.xlf:sqlQuery"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:adminpanel_extended/Resources/Language/locallang.xlf:queryCount"/>
            </th>
            <th>
                <f:translate key="LLL:EXT:adminpanel_extended/Resources/Language/locallang.xlf:queryTime"/>
            </th>
        </tr>
        <f:for each="{queries}" as="query">
            <tr>
                <td>
                    {query.sql}
                </td>
                <td>{query.count}</td>
                <td><f:format.number decimals="5">{query.time}</f:format.number></td>
            </tr>
        </f:for>
    </table>
</div>