<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{fluidNamespaces}">
    <h2 class="typo3-adminPanel-headline">Fluid global namespaces</h2>
    <f:for each="{fluidNamespaces}" key="shortname" as="phpnamespaces">
        <h3 class="typo3-adminPanel-headline">{shortname}</h3>
        <div class="typo3-adminPanel-table-overflow">
            <table class="typo3-adminPanel-table typo3-adminPanel-table-debug">
                <thead>
                <tr>
                    <th scope="col" class="typo3-adminPanel-table-cell-key">Prio</th>
                    <th scope="col">Namespace</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{phpnamespaces}" key="priority" as="namespace">
                    <tr>
                        <th scope="row" class="typo3-adminPanel-table-cell-key">{priority}</th>
                        <td>{namespace}</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </div>
    </f:for>
</f:if>
<f:comment>
    <f:if condition="{preProcessors}">

    </f:if>
</f:comment>
</html>
