<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{isPageBeingEdited}">
    <div class="typo3-adminPanel-message typo3-adminPanel-message-warning">
        <div class="typo3-adminPanel-message-text">
            <f:translate
                key="LLL:EXT:adminpanel_extended/Resources/Private/Language/locallang_info.xlf:submodule.userinformation.isLockedPage"/>
        </div>
    </div>
</f:if>
<div class="typo3-adminPanel-table-overflow">
    <table class="typo3-adminPanel-table typo3-adminPanel-table-debug">
        <thead>
        <tr>
            <th scope="col" class="typo3-adminPanel-table-cell-key">
                <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:key"/>
            </th>
            <th scope="col">
                <f:translate key="LLL:EXT:adminpanel/Resources/Private/Language/locallang_info.xlf:value"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="typo3-adminPanel-table-cell-key" scope="col">
                <f:translate
                    key="LLL:EXT:adminpanel_extended/Resources/Private/Language/locallang_info.xlf:submodule.userinformation.onlineBackendUsers"/>
            </th>
            <td scope="col">{onlineBackendUsers}</td>
        </tr>
        <tr>
            <th class="typo3-adminPanel-table-cell-key" scope="col">
                <f:translate
                    key="LLL:EXT:adminpanel_extended/Resources/Private/Language/locallang_info.xlf:submodule.userinformation.onlineFrontendUsers"/>
            </th>
            <td scope="col">{onlineFrontendUsers}</td>
        </tr>
        </tbody>
    </table>
</div>
</html>
