<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <div class="typo3-adminPanel-row typo3-adminPanel-row-header">
        <div class="typo3-adminPanel-col col-6">
             Registration
        </div>
        <div class="typo3-adminPanel-col col-6">
            Calling Class
        </div>
    </div>
<f:for each="{entries}" as="entry">
    <div class="typo3-adminPanel-row">
        <div class="typo3-adminPanel-col col-4">
            {entry.data.hook}
        </div>
        <div class="typo3-adminPanel-col col-6">
            {entry.data.backtrace.0.class}{entry.data.backtrace.0.type}{entry.data.backtrace.0.function}
        </div>
    </div>
</f:for>
